@{
    Layout = null;
}

<footer class="footer" id="footer">
    <table>
        <tr>
            <td>
                <div class="footer-info">
                    <p class="text-left">&copy; Bản quyền thuộc Viện Khoa Học Đo Đạc và Bản Đồ</p>
                    @*<address>
                        Số 479 đường Hoàng Quốc Việt – Bắc Từ Liêm – Hà Nội <br />
                        <br />
                        <abbr title="Phone">Phone:</abbr>
                        Điện thoại: 024.62694402 Fax: 024.62694405
                    </address>*@
                </div>
            </td>
            <td>
                <div class="text-center">
                    <div class="footer-info">
                        <p id="mouse-coord"></p>
                    </div>
                </div>
            </td>
            <td>
                <div class="dropdown-scale-container text-right"></div>
            </td>
        </tr>
    </table>
</footer>