@*<li class="nav-item">
        <a href="/admin/gioithieu" class="nav-link">
            <i class="glyphicon glyphicon-import"></i>
            <span class="title">Bài viết giới thiệu</span>
        </a>
    </li>*@
<li class="nav-item">
    <a href="/tramdo" class="nav-link">
        <i class="glyphicon glyphicon-star"></i>
        <span class="title">Danh mục trạm quan trắc</span>
    </a>
</li>

<li class="nav-item">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="glyphicon glyphicon-user"></i>
        <span class="title">Quản lý người dùng</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        @*<li class="nav-item">
                <a href="javascript:;" class="nav-link ">
                    <span class="title">Nhóm người dùng</span>
                </a>
            </li>*@
        <li class="nav-item">
            <a href="/user" class="nav-link ">
                <span class="title">Quản lý tài khoản</span>
            </a>
        </li>
    </ul>
</li>

